services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Staging
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=ProductCatalogDb;Username=postgres;Password=postgres
      - ASPNETCORE_URLS=http://+:8080
    volumes:
      - api-logs:/app/log
    depends_on:
      db:
        condition: service_healthy

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "3000:80"
    depends_on:
      - api

  db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=ProductCatalogDb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgresql:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgresql:
  api-logs: